<% layout('layout/boilerplate') %>
    <div class="text-end">
        <a href="/used/<%=usedProduct._id %> ">
            <div class="d-inline p-2  bg-primary text-white">Back to <%= usedProduct.name %>
            </div>
        </a>
    </div>
    <h1>Edit <%= usedProduct.name %>
    </h1>
    <form action="/used/<%=usedProduct._id%>?_method=PUT" method="POST" novalidate class="need-validation">

        <div class="mb-3">
            <label for="name" class="col-sm-2 col-form-label">name:</label>
            <input type="text" id="name" name="usedproduct[name]" class="form-control"
                placeholder="<%=usedProduct.name%>" required>
        </div>
        <div class="mb-3">
            <label for="date" class="col-sm-2 col-form-label">Date:</label>
            <input type="text" id="name" name="usedproduct[date]" class="form-control"
                placeholder="<%=usedProduct.date%>" required>
        </div>
        <div class="mb-3">
            <label for="image" class="col-sm-2 col-form-label">image Url:</label>
            <input type="text" id="image" name="usedproduct[image]" class="form-control"
                placeholder="<%=usedProduct.image%>" required>
        </div>
        <div class="row g-3">
            <div class="col-auto">
                <label for="company">company:</label>
                <input type="text" name="usedproduct[company]" class="form-label" id="company"
                    placeholder="<%=usedProduct.company%>" required>
            </div>
            <div class="col-auto">
                <label for="category">category:</label>
                <input type="text" id="category" name="usedproduct[category]" class="form-label"
                    placeholder="<%=usedProduct.category%> required" class="category" value="">
            </div>

            <div class="col-auto">
                <label for="subcategory">subcategory:</label>
                <input type="text" name="usedproduct[subcategory]" class="form-label" id="subcategory"
                    placeholder="<%=usedProduct.subcategory%> required" placeholder="product subcategory">
            </div>
            <div class="col-auto">
                <label for="size">size:</label>
                <input type="text" name="usedproduct[size]" id="size" placeholder="<%=usedProduct.size%>" required>
            </div>


        </div>
        <label for="price" class="form-label">Price:</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">€</span>
            <input type="text" class="form-control" name="usedproduct[price]" id="price" aria-describedby="basic-addon3"
                placeholder="<%=usedProduct.price%>" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">description:</label>
            <textarea class="form-control" name="usedproduct[description]" id="descritpion"
                placeholder="<%=usedProduct.description%>" rows="3" required></textarea>

        </div>
        <button class="btn btn-primary">Submit</button>

    </form>


    <script>
        $('#categories').change(function () {
            // var selected = $(this).find("option:selected").text();
            // console.log($(this).val())
            $("input[id='category']").val($(this).val());
        });
    </script>